body {
  padding-top: 0px;
}

.img-brand {
  margin: 0px 10px 0px 10px;
}

.navbar-default .navbar-collapse {
  background-color: #FFFFFF;
}

@media (min-width: 768px){
  .navbar-nav {
    float: right;
  }
}

.navbar-btn {
	margin: 25px 10px 0px 10px;
}
.navbar {
    min-height: 30px;
}
